@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


body {
   font-family: 'Open Sans', sans-serif;
}
.wrapper {
   display: flex;
   height: 500px;
   justify-content: center;
   align-items: center;
   background: url(/img/Vector\ \(7\).png);
   background-size: cover;
   color: #343844;
   width: 500px;
   margin: 0 auto;
   margin-top: 100px;
}
.conteinner {
   background-color: #E5E5E5;
   width: 365px;
   height: 365px;
}
.form {
   
}
.close {
   display: flex;
   flex-direction: row-reverse;
}


   /*column-gap: ;*/
   .btn__close {
      width: 14px;
      height: 14px;
      display: flex;
      
      flex-direction: row-reverse;
      
      margin-bottom: 30px;
   }

   img {
      margin-top: 10px;
      margin-right: 10px;
      width: 14px;
      height: 14px;
      
   }
/*header-form*/
.form__title {
   margin-bottom: 40px;
   text-align: center;
}
.form__title a{
   margin-left: 3px;
   text-decoration: none;
   border-bottom: solid 1px #fff;
   color: #fff;
}
.form__title p{
   font-size: 10px;
   color: #fff;
}
.form__title h1 {
   font-size: 26px;
   font-weight: 400;
   text-align: center;
   margin-bottom: 6.3px;
}

/*form-form*//* input form */
.form__form {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   
}
.emil, .pas {
   height: 45px;
   width: 245px;
   background-color: #fff;
   padding-left: 19px;
   
}
.emil {
   margin-bottom: 16px;
   margin-left: 44px;
}
.pas {
   margin-bottom: 31px;
   margin-left: 44px;
}



/* логотип для инпут емейл.пароль */
.lem::before {
   background-image: url("/img/Vector\ \(3\).png") ;
   background-repeat: no-repeat;
   position: absolute;
   content: "";
   top: 60px;
   left: 35px;
   width: 45px;
   height: 45px;
   background-color: #E65848;
   background-position: 50% 50%;
}
.pass::before {
   background-image: url("/img/Vector\ \(4\).png");
   background-repeat: no-repeat;
   position: absolute;
   content: "";
   top: 0;
   left: 35px;
   
   width: 45px;
   height: 45px;
   background-color: #E65848;
   background-position: 50% 50%;
}


.pas__btn {
   opacity: 1;
   position: absolute;
   top: 76px;
   left: 284px;
   background: url("/img/Vector\ \(9\).png") no-repeat;
   height: 17px;width: 29px;
   background-position: 50% 50%;
   padding: 10px 0px 7px 0px;
   display: inline-block;
}
.pas__btn::after{
   position: absolute;
   content: '';
   top: 7px;
   right: 0;
   width: 30px;
   height: 3px;
   background:#C4C4C4;
   transform: rotate(45deg);
   transition: .3s all ease;
   cursor: pointer;
}
.pas__btn::after.active {
   opacity: 0;
}


.pas__btn img {
   position: absolute;
   top: -9px;
   left: 7px;
   
   
}





/* кнопка */
.btn {
   background-color: #E65848;
   color: #fff;
   width: 137px;
   height: 45px;
   
   
   
   
}
.form__nav {
   font-size: 12px;
}

.form__far {
   display: flex;
   justify-content: center;
   column-gap: 56px;
   padding-top: 10px;
}

/* Забыл пароль */
.form__fargot {
   font-size: 10px;
}
.rem-real{
   width: 0;
   height: 0;
   opacity: 0;
   position: absolute;
   z-index: -1;
   
   
}

.checkbox {
   position: relative;
   display: inline-block;
   width: 20px;
   height: 20px;
   background-color: #354242;
   /* для того чтобы checkbox выравнивался вместе с текстом vertical-align: sub;*/
   vertical-align: sub;
   margin-right: 10px;
}
.checkbox::before {
   content: '';
   /* Рисуем галочку */
   width: 13px;
   height: 13px;
   display: inline-block;
   background-image: url("/img/Vector\ \(8\).png");
   /* Для правильного маштабирования елемента внутри */
   background-size: contain;
   background-repeat: no-repeat;
   /* Выравниваем по центру */
   position: absolute;
   left: -11%;
   right: 50%;
   top: -3px;
   transform: translate(50%, 50%) scale(0);
   margin-top: 1px;

   transition: 0.2s ease-in;
}
/*  */
.rem-real:checked + .checkbox::before{
   transform: translate(50%, 50%) scale(1);
}


.remember a{
   color: #000;
}

.remember {
   font-size: 10px;
   font-weight: 400;
   color: black;
   display: block;
   padding-top: 22px;
   padding-left: 20px;
}




